@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@400;700&family=Poppins:wght@400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif; /* Font untuk header */
  font-weight: 600; /* Tebal untuk judul */
}

.benner {
  font-family: "Poppins", sans-serif; /* Font untuk header */
  font-weight: 700;
}

p,
span,
a,
li {
  font-family: "Poppins", sans-serif; /* Font untuk konten */
  font-weight: 500; /* Normal untuk teks biasa */
}

/* ::-webkit-scrollbar- {
  display: none;
}
* {
  scrollbar-width: none;
  scroll-behavior: smooth;
} */

.color-primary {
  color: rgb(255, 101, 48);
}

.color-secondary {
  color: rgb(255, 76, 49);
}

.bg-primary {
  background-color: rgb(255, 101, 48);
}

.border-rr {
  border: 1px solid red;
}

.nav-link {
  @apply justify-center items-center hidden lg:flex;
}

.flex-vertical {
  @apply flex flex-col justify-center items-center;
}

.flex-horizontal {
  @apply flex  justify-center items-center;
}

.nav {
  @apply w-[100%] h-[100px] flex items-center justify-between  px-4 lg:px-[100px] fixed top-0 z-[100];
}

.text-link {
  @apply text-[.9rem];
}

.text-link:hover {
  color: rgb(255, 101, 48);
  transition: all 0.2s ease-in-out;
}
